.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
 
}
.sidebarOption>h2{
    font-size: 20px;
    margin-left: 10px;
}

.sidebarOption:hover{
    color: #078cd9;
    background-color: #d5eff0;
    border-radius: 25px;
    transition: color 100mx ease-out;
}

.sidebarActive{
    color: #078cd9;
}